<header class="SiteHeader">

    <div class="SiteHeaderContents">
    
    <div class="SiteHeaderProfile">
        <div>
            <a href="{{ site.baseurl }}/">
                <img class="SiteHeaderProfile_Avatar" alt = "{{ site.title }}" src="/assets/profile.jpg">
            </a>
        </div>
    
        <div class="SiteHeaderProfile_Spacer"></div>
    
        <div class="SiteHeaderProfile_Info">
            <a class="Link-subtle" href="{{ site.baseurl }}/">
                <h2>{{ site.title }}</h2>
                <span class="SiteHeaderProfile_Subtitle">Software Engineer & Open Source Enthusiast</span>
            </a>
            <div class="SiteHeaderProfile_Contacts">
                    <a href="https://github.com/{{ site.social_links.github }}">GitHub</a>
                    <a href="https://twitter.com/{{ site.social_links.twitter }}">Twitter</a>
                    <a href="{{ site.url }}/about">About</a>
                </p>
            </div>
        </div>
    
    </div>
    
    </div>
    
    </header>
    